Package: jp.akusio.kernbypass
Name: KernBypass
Version: 0.0.3
Depends: mobilesubstrate, applist, preferenceloader, Firmware(>=12.0)
Architecture: iphoneos-arm
Description: kernel level jailbreak detection bypass.
Depiction: http://akusio.github.io/descriptions/kernbypass/index.html
Maintainer: akusio, Misty
Author: akusio, Misty
Section: System
