Author: akusio
Maintainer: ichitaso
Name: KernBypass
Package: jp.akusio.kernbypass-unofficial
Pre-Depends: firmware (>= 12.0), firmware (<< 14.2)
Depends: mobilesubstrate, preferenceloader
Conflicts: jp.akusio.kernbypass, com.apple.memecity
Replaces: jp.akusio.kernbypass-unofficial
Section: System
Version: 0.0.4
Architecture: iphoneos-arm
Description: kernel level jailbreak detection bypass.
Depiction: https://cydia.ichitaso.com/depiction/kernbypass.html
Homepage: https://ichitaso.com
dev: akusio, Misty, ichitaso
Tag: purpose::extension, compatible::ios12, compatible::ios13, compatible::ios14
Icon: file:///Library/PreferenceBundles/KernBypassPrefs.bundle/icon@2x.png
